fastapi
uvicorn
jinja2
python-multipart
pydantic
langchain
langchain-community
langchain-chroma
chromadb
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
llama-index
httpx
sentence-transformers
PyMuPDF